---
title: About Me
layout: default
permalink: /about
title-settings: hide
---

<div class="about">
  <div class="row">
    <div class="col-4">
      <img class="about-image" src="/assets/images/profile_250.jpg" alt="AlanClark">
    </div>
    <div class="col-8">
      <p>I'm passionate about using data to solve complex, real-world problems. I have 6 years experience of developing cloud-native, data-driven products in a variety of programming languages and frameworks, with specialist skills as a Full Stack Data Scientist/Machine Learning Engineer. I've held roles in the energy, trading and consulting sectors, where I have proven my ability to deliver top quality products under pressure in fast-paced and ever-changing environments.</p>
      <p>I've recently completed studying for an <a href="https://www.mlmi.eng.cam.ac.uk">MPhil in Machine Learning and Machine Intelligence</a> at the University of Cambridge. I further hold an MEng in Chemical Engineering from the University of Edinburgh, and was recognised as one of the top six graduating Chemical Engineers in the UK in 2015. I'm a member of the Institution of Engineering and Technology (MIET), and a fellow of the Royal Statistical Society.</p>
      <p>I'm currently looking for a new role which combines my skills and passions. Ideally, this would as a Data Scientist, Machine Learning Engineering or Modelling Specialist in the energy or chemical sectors.</p>
      <p>A copy of my CV is available on request; please feel free to get in touch via email or any social media channel.</p>
      <p>A timeline detailing my career and education to date can be found below.</p>
      {% include social-media-links.html %}
    </div>
  </div>

  {% assign careeritems = site.career | sort: 'date-from' | reverse %}
  {% for item in careeritems %}
    {% include section.html title=item.title sub-title=item.sub-title date-from=item.date-from date-to=item.date-to website=item.website content=item.content image=item.image image_col=2 technologies=item.technologies %}
  {% endfor %}
</div>
