---
title: About Me
layout: default
permalink: /about
title-settings: hide
---

<div class="about">
  <div class="row">
    <div class="col-4">
      <img class="about-image" src="/assets/images/profile_250.jpg" alt="AlanClark">
    </div>
    <div class="col-8">
      <p>I'm a Chemical Engineer by background, but a data nerd by vocation and heart. After 3 years working for each of BP and Deloitte as a developer, data engineer and data scientist, I've returned to the world of academia to pursue an [MPhil in Machine Learning and Machine Intelligence](https://www.mlmi.eng.cam.ac.uk/) at the University of Cambridge.</p>
      <p>A copy of my CV is available on request; please feel free to get in touch via email or any social media channel.</p>
      <p>A timeline detailing my career and education to date can be found below.</p>
      {% include social-media-links.html %}
    </div>
  </div>

  {% assign careeritems = site.career | sort: 'date-from' | reverse %}
  {% for item in careeritems %}
    {% include section.html title=item.title sub-title=item.sub-title date-from=item.date-from date-to=item.date-to website=item.website content=item.content image=item.image image_col=2 technologies=item.technologies %}
  {% endfor %}
</div>
