<footer class="footer">
  <div class="row">
    <div class="col-8">
      <span class="footer-notes">This <a href="https://pages.github.com/">GitHub Pages</a> wesbite is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
      <span class="footer-notes">The source code for this website can be found <a href="{{ site.github.repository_url }}">here</a>.</span>
      <span class="footer-notes">&copy; 2018 ThatScotDataSci</a></span>
    </div>
    <div class="col-4">
      <div class="footer-links">
        <a href="{{ site.linkedin_url }}" target="_blank">
          <img src="/assets/logos/linkedin_black_32.png" alt="LinkedIn">
        </a>
        <a href="{{ site.github_url }}" target="_blank">
          <img src="/assets/logos/github_black_32.png" alt="Git Hub">
        </a>
        <a href="{{ site.stackoverflow_url }}" target="_blank">
          <img src="/assets/logos/stackoverflow_black_32.png" alt="Stack Overflow">
        </a>
        <a href="{{ site.twitter_url }}" target="_blank">
          <img src="/assets/logos/twitter_black_32.png" alt="Twitter">
        </a>
      </div>
    </div>
  </div>
</footer>
