<header class="header" id="header">
  <div class="row">
    <div class="col-2">
      <a href="/">
        <img src="/assets/logos/tsds.png" alt="TSDS Logo">
      </a>
    </div>
    <div class="col-6">
      <a href="/">
        <h1 class="header-name">{{ site.title }}</h1>
      </a>
      <h2 class="header-tagline">{{ site.description }}</h2>
    </div>
    <div class="col-4">
      <div class="header-links">
        <a href="/about" class="btn">About</a>
        <a href="/blog" class="btn">Blog</a>
        <a href="/wiki" class="btn">Wiki</a>
      </div>
    </div>
  </div>
</header>
