<header class="header" id="header">
  <div class="col-2">
    <a href="/">
      <img src="/assets/images/tsds.png" alt="TSDS Logo">
    </a>
  </div>
  <div class="col-7">
    <a href="/">
      <h1 class="header-name">{{ site.title | default: site.github.repository_name }}</h1>
    </a>
    <h2 class="header-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
  </div>
  <div class="col-1">
    <a href="/about" class="btn">About</a>
  </div>
  <div class="col-1">
    <a href="/blog" class="btn">Blog</a>
  </div>
  <div class="col-1">
    <a href="/wiki" class="btn">Wiki</a>
  </div>
</header>
