<div class="row">
  <div class="col-{{ include.image_col | default: 2 }}">
    <a href="{{ include.website | default: site.url }}">
    {% if include.section-type == "portfolio" %}
    <img class="section-image-portfolio" src="{{ include.image }}">
    {% else %}
    <img class="section-image" src="{{ include.image }}">
    {% endif %}
    </a>
  </div>
  <div class="col-{{ include.image_col | default: 2 | minus: 12 | abs }}">
    <div class="section">
      <div class="row">
        <div class="col-7">
          <div class="section-title"><a href="{{ include.website | default: site.url }}" target="_blank" rel="noopener">{{ include.title }}</a></div>
          {% if include.sub-title %}
            <div class="section-subtitle">{{ include.sub-title }}</div>
          {% endif %}
          {% if include.date-from %}
            {% if include.date-to %}
              <div class="section-subtitle">{{ include.date-from | date: "%b %Y" }} - {{ include.date-to | date: "%b %Y" }}</div>
            {% else %}
              <div class="section-subtitle">{{ include.date-from | date: "%b %Y" }}</div>
            {% endif %}
          {% endif %}
        </div>
        <div class="col-5">
          {% if include.technologies %}
            <div class="icon-links">
              {% for technology in include.technologies %}
                <a href="{{ site.technology_urls.[technology] | default: site.url }}">
                <img src="/assets/logos/technologies/{{ technology }}_32.jpg" alt="{{ technology }}">
                </a>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {{ include.content }}
          {% if include.github-repo %}
            <a href="{{ include.github-repo }}">
            <img src="/assets/logos/social/github_black_32.png" alt="GitHub">
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
