<div class="row">
  <div class="col-2">
    <img class="section_image" src="{{ include.image }}">
  </div>
  <div class="col-10">
    <div class="section">
      <div class="section-title"><a href="{{ include.website }}" target="_blank" rel="noopener">{{ include.title }}</a></div>
      {% if include.sub-title %}
        <div class="section-subtitle">{{ include.sub-title }}</div>
      {% endif %}
      {% if include.date-from %}
        {% if include.date-to %}
          <div class="section-subtitle">{{ include.date-from | date: "%b %Y" }} - {{ include.date-to | date: "%b %Y" }}</div>
        {% else %}
          <div class="section-subtitle">{{ include.date-from | date: "%b %Y" }}</div>
        {% endif %}
      {% endif %}
      {{ include.content }}
    </div>
  </div>
</div>
