<div class="icon-links">
  <a href="mailto:{{ site.email }}">
    <img src="/assets/logos/social/ampersand_32.png" alt="Email">
  </a>
  <a href="{{ site.linkedin_url }}" target="_blank" rel="noopener">
    <img src="/assets/logos/social/linkedin_black_32.png" alt="LinkedIn">
  </a>
  <a href="{{ site.github_url }}" target="_blank" rel="noopener">
    <img src="/assets/logos/social/github_black_32.png" alt="Git Hub">
  </a>
  <a href="{{ site.stackoverflow_url }}" target="_blank" rel="noopener">
    <img src="/assets/logos/social/stackoverflow_black_32.png" alt="Stack Overflow">
  </a>
  <a href="{{ site.twitter_url }}" target="_blank" rel="noopener">
    <img src="/assets/logos/social/twitter_black_32.png" alt="Twitter">
  </a>
</div>
