<div class="social-media-links">
  <a href="mailto:{{ site.email }}">
    <img src="/assets/logos/ampersand_32.png" alt="Email">
  </a>
  <a href="{{ site.linkedin_url }}" target="_blank" rel="noopener">
    <img src="/assets/logos/linkedin_black_32.png" alt="LinkedIn">
  </a>
  <a href="{{ site.github_url }}" target="_blank" rel="noopener">
    <img src="/assets/logos/github_black_32.png" alt="Git Hub">
  </a>
  <a href="{{ site.stackoverflow_url }}" target="_blank" rel="noopener">
    <img src="/assets/logos/stackoverflow_black_32.png" alt="Stack Overflow">
  </a>
  <a href="{{ site.twitter_url }}" target="_blank" rel="noopener">
    <img src="/assets/logos/twitter_black_32.png" alt="Twitter">
  </a>
</div>
