.about {
  text-align: center;

  @include media($medium) {
    text-align: left;
  }

  [class*="col-"] {
    padding: 15px 0;
  }

  .row {
      padding: 0;
  }
}

.about-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
