.btn {
  display: block;
  margin-bottom: 1rem;
  color: rgba($tsds-pink-color, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba($tsds-pink-color, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0.75rem;
  font-size: 0.9rem;

  @include media($medium) {
    padding: 0.6rem 0.9rem;
    display: inline-block;
    width: auto;
  }

  @include media($large) {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }

  &:hover {
    color: rgba($tsds-green-color, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba($tsds-green-color, 0.3);
  }

  + .btn {
    margin-left: 0;
    margin-top: 1rem;
    @include media($medium) {
      margin-left: 1rem;
      margin-top: 0;
    }
  }
}
