.footer {
  color: $footer-heading-color;
  text-align: left;
  background-color: $footer-bg-color;
  border-top: solid 1px $hr-border-color;

  div[class*='col-'] {
    text-align: center;
  }

  @include large {
    padding: 0.5rem 2rem;

    div[class*='col-'] {
      text-align: left;
    }
  }

  @include medium {
    padding: 0.5rem 1rem;
  }

  @include small {
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
  }

  img {
    padding: 0.5rem;
  }
}

.footer-owner {
  display: block;
  font-weight: bold;
}

.footer-credits {
  color: $blockquote-text-color;
}

.footer-links {
  float: right;

  a:hover {
    text-decoration: none;
  }

  @include medium {
    width: 100%;
  }

  @include small {
    width: 100%;
  }
}
