.footer {
  color: $footer-text-color;
  text-align: center;
  background-color: $footer-bg-color;
  font-size: 0.9rem;

  @include media($medium) {
    font-size: 1rem;
  }

  @include media($large) {
    text-align: left;
  }

  .col-8, .col-4 {
    width: 100%;
  }

  .col-8 {
    @include media($large) {
      width: 66.6%;
    }
  }

  .col-4 {
    @include media($large) {
      width: 33.3%;
    }
  }

  .footer-notes {
    display: block;
  }
}

// Sticky footer fix
.sticky {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    &-content {
      flex: 1;
    }
}
