.header {
  color: $header-heading-color;
  background-color: $header-bg-color;
  border-bottom: solid 1px $hr-border-color;
  width: 100%;
  text-align: center;

  @include media($medium) {
    text-align: left;
  }

  @include media($large) {
    position: fixed;
    z-index: 10;
    top: 0;
  }

  .col-8, .col-4 {
    width: 100%;
  }

  .col-8 {
    @include media($medium) {
      width: 66.6%;
    }
  }

  .col-4 {
    @include media($medium) {
      width: 33.3%;
    }
  }

  a:hover {
    text-decoration: none;
  }

  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;

    @include media($large) {
      margin: 0;
    }
  }

  .header-logo {
    display: inline-block;
    vertical-align: middle;
  }

  .header-information {
    margin-top: 15px;
    width: 100%;
    display: block;

    @include media($medium) {
      width: auto;
      margin-left: 15px;
      margin-top: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .header-links {
    text-align: center;
    width: 100%;

    @include media($medium) {
      margin-top: 30px;
    }

    @include media($large) {
      text-align: right;
    }

    a:hover {
      text-decoration: none;
    }

    a:last-child {
      margin-bottom: 0;
    }

    .btn {
      @include media($medium) {
        margin-bottom: 0;
      }

      + .btn {
        margin-left: 0;
      }
    }
  }

  .header-name {
    margin: 0;
    color: $tsds-pink-color;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    font-size: 1.75rem;

    @include media($medium) {
      font-size: 2.25rem;
    }

    @include media($large) {
      text-align: left;
    }

    &:hover {
      color: $tsds-green-color;
    }
  }

  .header-tagline {
    margin: 0;
    text-align: left;
    font-weight: normal;
    opacity: 0.7;
    display: none;

    @include media($large) {
      display: block;
      font-size: 1.25rem;
    }
  }
}
