.header {
  color: $header-heading-color;
  background-color: $header-bg-color;
  border-bottom: solid 1px $hr-border-color;
  width: 100%;
  padding: 0.5rem;
  text-align: center;

  @include large {
    position: fixed;
    z-index: 10;
    padding: 0.5rem 2rem;
    top: 0;
  }

  @include medium {
    padding: 0.5rem 1rem;
  }

  a:hover {
    text-decoration: none;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.header-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  color: $tsds-pink-color;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  font-size: 1.75rem;

  &:hover {
    color: $tsds-green-color;
  }

  @include large {
    font-size: 3.25rem;
    text-align: left;
  }

  @include medium {
    font-size: 2.25rem;
  }
}

.header-tagline {
  margin: 0;
  text-align: left;
  font-weight: normal;
  opacity: 0.7;
  display: none;

  @include large {
    display: block;
    font-size: 1.25rem;
  }
}

.header-links {
  text-align: center;
  width: 100%;

  a:hover {
    text-decoration: none;
  }

  @include large {
    margin-top: 1rem;
    text-align: right;
  }
}
