.section {
  padding: 15px 0;
  border-top: 1px solid $border-color-dark;
  border-bottom: 1px solid $border-color-dark;

  .section-title {
    margin-top: 0;
    margin-bottom: 0;
    color: $tsds-pink-color;
    font-size: 2rem;

    a {
      color: $tsds-pink-color;
    }
  }

  .section-subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
  }
}

.section_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
}
