---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Experience from '../components/Experience.astro';
---

<BaseLayout>
  <div class="min-h-screen bg-background text-neutral-900">
    <Header />
    <main class="min-h-screen">
      <Experience />
    </main>
    <Footer />
  </div>
</BaseLayout>

