<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-UK" }}">
  {% include head.html %}
  {% include header.html %}
  <body>
    {% if page.banner-header %}
      <div class="banner-image">
        <div class="banner-text-block">
          <h1>{{ page.banner-header }}</h1>
          {% if page.banner-subheader %}
            <p>{{ page.banner-subheader }}</p>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="main-content">
      {% if page.title %}
        {% include header-block.html %}
      {% endif %}
      {{ content }}
    </div>
  </body>
  {% include footer.html %}
</html>
